@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img class="mainimage" src="images/ham.jpg" />
    <img class="mainimage" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.lohberger.com%2Fwp-content%2Fuploads%2F2020%2F10%2F3095-scaled.jpg&f=1&nofb=1" />
</div>
